.icon-cat-link {
    transition: transform 0.2s ease, filter 0.2s ease;
}
.icon-cat-link:hover {
    transform: translateY(-4px);
    filter: brightness(0.8);
}
.icon-category-scroll {
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    padding-bottom: 5px;
}
.icon-category-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.hide-scroll {
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.hide-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
